.registration {
  .container {
    .download {
      position: relative;
      width: 170px;
      height: 170px;
      border: 1px solid #000;
      background-color: rgba(194, 191, 194, 0.459);
      margin: auto;
      overflow: hidden;

      input.my-file {
        padding: 2000px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      input.my-file::-webkit-file-upload-button {
        visibility: hidden;
      }
      &::before {
        content: "Upload";
        position: absolute;
        cursor: pointer;
        bottom: 6px;
        left: 52px;
        font-size: 20px;
        background-color: rgba(230, 15, 194, 0);
      }
    }
  }
}
